@keyframes runWords {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .running-text {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
    animation: runWords 8s linear infinite; /* Adjust the duration and timing function as needed */
  }

  body {
    font-family: 'Silkscreen';
    font-size: 30px;
  }


