@keyframes runWords {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.running-text {
     animation: runWords 8s linear infinite; /* Adjust the duration and timing function as needed */
  }


  body {
    font-family: 'Libre Barcode 39 Text';
    font-size: 30px;
    color:brown;
    background-color: aliceblue;
  }

