 p {
   color: #fc85c2; 
  }
h1 {
   background-color:#ffffff6d;
   font-family: 'Rubik Bubbles';
  font-size: 50px;
  color: rgb(118, 27, 27);
  } 
a { 
   border-width: thin;
   background-color:#ff96cb;
    box-sizing: content-box;
    padding: 5px;  
    border: 5px solid rgb(255, 255, 255);
}
body {
  background-image: url("nycbackground.jpeg");
  background-repeat: repeat;
  background-blend-mode: lighten
}
