/* edit background */
  body {
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-blend-mode: lighten
  } 
  
/* edit title of page "QUOTES" */
  h1 {
   font-family: 'Rubik Bubbles';
   font-size: 150px;
   color: rgb(255, 189, 230);  
  } 
/* edit text below title */
  p2 { 
   font-family: 'VT323';
   color: rgb(250, 248, 195);  
   font-size: 30px;
  }
 
/* Edit linked images - Removes the underline from the link */
  a {
   text-decoration: none; 
 }
  img {
   max-width: 15%;
 }

/* Make image move up & down when hovered */
img {
   transition: transform 0.3s ease; /* Add a smooth transition effect */
 }
 img:hover {
   transform: translateY(-30px); /* Move the image 30 pixels upward on hover */
 }

 .right-align {
  float: right;
  /* Make image float to the right of page */
}