/* basic editing */
h1,h2,h3 {
    color: #ff89c4;
  }
p {
  color:rgb(46, 22, 15);
}
body {
    background-color:rgb(46, 22, 15);
    overflow:auto;
    height: 1500px; /* Set a height for the page to enable scrolling */
  }
html  {
    padding: 200px;  
  }

.text {
    font-family: 'Fredericka the Great';
    color: #ff89c4;
    font-size: 90px;
    text-align: center;
    max-width:50%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
}


/* Change color when hovered */
.color-change:hover {
  color: #FF5733; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.color-change2:hover {
  color:#177cff;
}
.color-change3:hover {
  color:#daff55;
}
.color-change4:hover {
  color:#7a22ff;
}

/* image slideshow */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
img {
  width: 90%;
  height: auto;
}

/* click to different area in page */
#target-section {
  margin-top: 500px; /* Adjust the margin to position the target section */
  background-color: #e0e0e0;
  padding: 20px;
}