h1,h2,h3 {
    color: #fff5ce;
  }
p {
  color:rgb(120, 120, 120); 
  position: absolute;
    left: 300px;
    right: 300px;
    top: 550px;
    bottom: 200px;
}
body {
    background-color:#000000;
    overflow:auto;
  }
html  {
    border: 5px solid rgb(32, 32, 32);
    padding: 100px;  
  }
