html  {
  padding: 100px;  
}
p {
    color: #fc85c2;
  }
  body {
    background-image: linear-gradient(rgb(205, 173, 173), rgb(255, 186, 219));;
    background-image: url("background2.jpg");
      background-repeat: repeat;
      background-blend-mode:color-burn;
   } 
ol, p2 {
  background-color: rgba(255, 255, 255, 0.258);
  color: white;
  font-size:15px;
}
h2 {
  font-size:30px; 
}